/* Styling */

nav {
    display: flex;
    overflow: hidden;
    background-color: #10D6DF;
}

nav div.navItem { padding: 10px; }
nav div.navItem:hover { background-color: #10D6DF; }
nav div.navItem a { color: White; text-decoration: none; }
nav div.navItem a.navSelected { color: Black; }